
#container {
    margin: 10px;
}
#header {
    font-size: 40px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    background-color: whitesmoke; 
    border: solid black;
    width: 50%;   
    
}

#main {
    background-color: darkgray;    
    margin-left: 30px;
    margin-right: 30px;
    
    
}
#para {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    border: dashed darkgray;
       
}
.button {
    margin: 10px;
    background-color: whitesmoke;
    border: solid black;
    text-align: center;

}

